<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>

<body>

<p>Cars!</p>

<table border="2">

    <thead>
    <tr>
        <th scope="col">Producer</th>
        <th scope="col">Model</th>
        <th scope="col">Year Of Issue</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.producer}"/>
        <td th:text="${car.model}"/>
        <td th:text="${car.yearOfIssue}"/>
    </tr>
    </tbody>

</table>
</body>
</html>